In [ ]:
## Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List common Data Science tools
- Introduce Jupyter Notebooks, Python, R, and GitHub

In [ ]:
## Write an introductory sentence about the notebook such as the follows: In this notebook, Data Science Tools and Ecosystem are summarized.

##### In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
## Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

In [ ]:
## Create a markdown cell to list data science libraries

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. TensorFlow
4. SciPy
5. Keras

In [ ]:
## Create a markdown cell with a table of Data Science tools

| Data Science Tools | 
| --- |
| RStudio |
| ApacheSpark |
|TensorFlow |

In [ ]:
## Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

In [ ]:
## Create a code cell to convert minutes to hours

In [ ]:
This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## **Author**

In [ ]:
Tammy Bleier